// Mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Dark mode background color
$dark-mode-bg-color: #202020;

// Primary Accent color for outlines
$accent-color: #f7f0ff;

// Secondary Accent color for outlines
$lilac-accent-color: #b581ff;

// Text color
$text-color: #f7f7f7;

// Background color for boxes
$box-bg-color: #292929;
