// Dark mode background color
$dark-mode-bg-color: #202020;

// Accent color for outlines
$accent-color: #8a4fff;

// Text color
$text-color: #f7f7f7;

// Background color for boxes
$box-bg-color: #292929;
