@import "./variables";

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .header-container {
    @include flex-center;

    .header {
      color: $text-color;
      border: 2px solid $accent-color;
      padding: 1rem;
      font-size: 2rem;
      background-color: $dark-mode-bg-color;
      border-radius: 10px;
    }
  }

  .content-section {
    @include flex-center;
    gap: 2rem;
    margin-top: 3rem;
    width: 80%;
    height: 500px;
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 50px;
    transition: border-color 1s;

    &.animate-border {
      animation: fadeInBorder 1s;
    }

    .content-box-one,
    .content-box-two {
      @include flex-center;
      gap: 2rem;
      background-color: $box-bg-color;
      width: fit-content;
      height: fit-content;
      color: $text-color;
      border-radius: 10px;
      border: 1px solid transparent;
      padding: 25px;
      transition: border-color 1s;

      &.animate-slide-from-left {
        animation: slideFromLeft 1.5s ease;
      }

      &.animate-slide-from-right {
        animation: slideFromRight 1.5s ease;
      }

      .image-box {
        flex: 0 0 50%;

        img {
          max-width: 100%;
          height: fit-content;
        }
      }

      .text-box {
        flex: 0 0 50%;
        color: $text-color;
      }
    }
  }

  &:hover {
    .content-section {
      border-color: $lilac-accent-color;
      animation: fadeInBorder 3s ease-in-out;
    }

    .content-box-one,
    .content-box-two {
      border-color: $lilac-accent-color;
    }
  }
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeInBorder {
  from {
    border-color: transparent;
  }
  to {
    border-color: $lilac-accent-color;
  }
}
